@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

header {
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.541);
}

header > nav > img {
  width: 120px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav > ul > li {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}

nav > ul > li:hover {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.719);
  border-bottom: 2px solid white;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav > ul {
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 40px;
}

#redes {
  margin-left: 40px;
  gap: 20px;
}

#menu {
  display: none;
  margin: 40px;
  width: 50px;
  color: white;
  border: white;
}
